# Virtual Environment
venv/
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Flask
instance/
.flaskenv

# SQLite
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# IDEs
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Test / Coverage
.pytest_cache/
.coverage
htmlcov/

# Build Artifacts
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/
